create database #ALFRESCO_DB_NAME# character set utf8;
grant all privileges on #ALFRESCO_DB_NAME#.* to '#ALFRESCO_DB_USER#'@'%' identified by '#ALFRESCO_DB_PASS#' with grant option;

flush privileges;
