mode=unattended

# Basic
alfresco_admin_password=#ALFRESCO_ADMIN_PASS#
installer-language=ja
prefix=/opt/alfresco

# JDBC
jdbc_url=jdbc:mysql://localhost:3306/#ALFRESCO_DB_NAME#?useUnicode=yes&characterEncoding=UTF-8
jdbc_driver=org.gjt.mm.mysql.Driver
jdbc_database=#ALFRESCO_DB_NAME#
jdbc_username=#ALFRESCO_DB_USER#
jdbc_password=#ALFRESCO_DB_PASS#
