mode=unattended

# Basic
alfresco_admin_password=#ADMIN_PASS#
installer-language=ja

# JDBC
jdbc_url=jdbc:mysql://localhost:3306/alfresco?useUnicode=yes&characterEncoding=UTF-8
jdbc_driver=org.gjt.mm.mysql.Driver
jdbc_database=alfresco
jdbc_username=alfresco
jdbc_password=alfresco
